/* fontSize:15px for paragraph */
:root {
  --SoftOrange: hsl(35, 77%, 62%);
  --SoftRed: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --GrayishBlue: hsl(233, 8%, 79%);
  --DarkGrayishBlue: hsl(236, 13%, 42%);
  --VeryDarkBlue: hsl(240, 100%, 5%);
}
@font-face {
  font-family: Inter;
  src: url(assets/fonts/static/Inter-Regular.ttf);
  font-family: InterBold;
  src: url(assets/fonts/static/Inter-Bold.ttf);
  font-family: InterExtraBold;
  src: url(assets/fonts/static/Inter-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
@media screen and (max-width: 376px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 10vh;
  }
  .header {
    width: 50%;
    overflow: hidden;
  }
  .logo {
    margin-left: 15px;
    width: 40px;
  }
  .menu {
    margin-left: 127px;
    cursor: pointer;
  }
  nav {
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 30%;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--Off-white);
    transition: 1s;
    top: -200%;
  }
  .active {
    visibility: visible;
    top: 0;
    display: flex;
  }

  nav ul {
    display: flex;
    width: 50%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: var(--VeryDarkBlue);
  }
  nav ul li {
    list-style: none;
    color: var(--VeryDarkBlue);
    font-weight: 700;
    padding-top: 30px;
  }
  nav .menuClose {
    margin-top: 15px;
    width: 65px;
    height: 40px;
    cursor: pointer;
  }

  .mainBgc {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .mainBgc img {
    width: 90%;
    height: 100%;
  }
  main {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--DarkGrayishBlue);
    padding-top: 20px;
    padding-left: 20px;
  }
  main h1 {
    font-size: 40px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
  }
  main p {
    font-size: 15px;
    padding-top: 10px;
  }
  main button {
    background-color: var(--SoftRed);
    width: 60%;
    height: 12%;
    margin-top: 10px;
    color: var(--Off-white);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
  aside {
    width: 90%;
    height: 70vh;
    background-color: var(--VeryDarkBlue);
    margin: 0px 5%;
    display: flex;
    flex-direction: column;
  }
  aside h2 {
    color: var(--SoftOrange);
    margin: 20px 20px;
    font-size: 34px;
  }
  aside article {
    margin: 15px 20px;
  }

  aside article:nth-child(-n + 3)::after {
    display: block;
    content: '';
    background: var(--DarkGrayishBlue);
    height: 1px;
    margin-top: 30px;
  }
  aside article h3 {
    color: var(--Off-white);
    font-weight: 700;
  }
  aside article p {
    color: var(--GrayishBlue);
  }
  section {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 50px 5%;
  }
  section article {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }
  .imageSection img {
    width: 125px;
  }
  .articleWord {
    margin-left: 15px;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .articleWord h4 {
    color: var(--GrayishBlue);
    font-size: 32px;
  }
  .articleWord h5 {
    color: var(--VeryDarkBlue);
    font-size: 21px;
    font-weight: 700;
  }
  .articleWord p {
    color: var(--DarkGrayishBlue);
    font-size: 15px;
    font-weight: 400;
  }
  .attribution {
    width: 100%;
    height: 10vh;
    text-align: center;
  }
}

@media screen and (min-width: 1439px) {
  body {
    display: grid;
    grid-template-columns: 5% 60% 20% 5%;
    grid-template-rows: 10vh 40vh 25vh 15vh 5vh;
    gap: 1%;
  }
  header {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
    width: 100%;
    align-items: center;
    margin: auto;
    height: 15vh;
    justify-content: space-between;
  }

  .headerMenu img,
  .menuClose {
    display: none;
  }
  .header {
    display: flex;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    list-style: none;
  }
  nav ul a {
    display: flex;
    color: var(--DarkGrayishBlue);
    text-decoration: none;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  nav ul a:hover {
    color: var(--SoftOrange);
  }
  .mainBgc {
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .mainBgc img {
    width: 100%;
    height: 100%;
  }
  aside {
    background-color: var(--VeryDarkBlue);
    width: 100%;
    height: 90%;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  aside h2 {
    color: var(--SoftOrange);
    font-size: 32px;
    font-weight: 700;
    margin: 30px 30px;
  }
  aside article h3 {
    cursor: pointer;
    font-size: 22px;
    color: var(--GrayishBlue);
  }
  aside article h3:hover {
    color: var(--SoftOrange);
  }
  aside article {
    color: var(--DarkGrayishBlue);
    width: 80%;
    margin: auto;
  }
  section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  section h4 {
    color: var(--GrayishBlue);
    font-size: 32px;
  }
  section article {
    display: flex;
    width: 100% /3;
  }
  section article h5 {
    color: var(--VeryDarkBlue);
    font-size: 18px;
    cursor: pointer;
  }
  section article h5:hover {
    color: var(--SoftRed);
  }
  section article .articleWord {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
  }
  section article .imageSection {
    width: 40%;
    height: 100%;
  }
  .imageSection img {
    width: 100%;
    height: 100%;
  }
  section p {
    font-size: 15px;
  }

  main {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  main h1 {
    font-size: 54px;
    font-family: 'Inter', sans-serif;
    width: 60%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    font-weight: 800;
  }
  main p {
    font-size: 15px;
    width: 80%;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: 'Inter', sans-serif;
    text-align: justify;
  }
  main button {
    grid-column-start: 3;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 50%;
    height: 70%;
    cursor: pointer;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--SoftRed);
  }
  main button:hover {
    background-color: var(--VeryDarkBlue);
    color: var(--Off-white);
  }

  .attribution {
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
