/* fontSize:15px for paragraph */
:root {
  --SoftOrange: hsl(35, 77%, 62%);
  --SoftRed: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --GrayishBlue: hsl(233, 8%, 79%);
  --DarkGrayishBlue: hsl(236, 13%, 42%);
  --VeryDarkBlue: hsl(240, 100%, 5%);
}
@font-face {
  font-family: Inter;
  src: url(assets/fonts/static/Inter-Regular.ttf);
  font-family: InterBold;
  src: url(assets/fonts/static/Inter-Bold.ttf);
  font-family: InterExtraBold;
  src: url(assets/fonts/static/Inter-ExtraBold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
@media screen and (max-width: 376px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 10vh;
  }
  .header {
    width: 50%;
  }
  .logo {
    margin-left: 10px;
  }
  .menu {
    margin-left: 127px;
    cursor: pointer;
  }
  nav {
    width: 70%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--Off-white);
  }
  nav ul {
    display: flex;
    width: 50%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
  }
  nav ul a {
    text-decoration: none;
    padding-top: 30px;
    font-size: 30px;
    font-weight: 400;
  }
  nav ul li {
    list-style: none;
    color: var(--VeryDarkBlue);
  }
  nav .menuClose {
    margin-top: 15px;
    width: 65px;
    height: 40px;
    cursor: pointer;
  }

  .mainBgc {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .mainBgc img {
    width: 90%;
    height: 100%;
  }
  main {
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--DarkGrayishBlue);
    padding-top: 20px;
    padding-left: 20px;
  }
  main h1 {
    font-size: 40px;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
  }
  main p {
    font-size: 15px;
    padding-top: 10px;
  }
  main button {
    background-color: var(--SoftRed);
    width: 60%;
    height: 12%;
    margin-top: 10px;
    color: var(--Off-white);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
  aside {
    width: 90%;
    height: 70vh;
    background-color: var(--VeryDarkBlue);
    margin: 0px 5%;
    display: flex;
    flex-direction: column;
  }
  aside h2 {
    color: var(--SoftOrange);
    margin: 20px 20px;
    font-size: 34px;
  }
  aside article {
    margin: 15px 20px;
  }

  aside article:nth-child(-n + 3)::after {
    display: block;
    content: '';
    background: var(--DarkGrayishBlue);
    height: 1px;
    margin-top: 30px;
  }
  aside article h3 {
    color: var(--Off-white);
    font-weight: 700;
  }
  aside article p {
    color: var(--GrayishBlue);
  }
  section {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 50px 5%;
  }
  section article {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  }
  .imageSection img {
    width: 125px;
  }
  .articleWord {
    margin-left: 15px;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .articleWord h4 {
    color: var(--GrayishBlue);
    font-size: 32px;
  }
  .articleWord h5 {
    color: var(--VeryDarkBlue);
    font-size: 21px;
    font-weight: 700;
  }
  .articleWord p {
    color: var(--DarkGrayishBlue);
    font-size: 15px;
    font-weight: 400;
  }
  .attribution {
    width: 100%;
    height: 10vh;
    text-align: center;
  }
}
